.datepicker{
    display: inline !important;
}
.inputForm{
    text-align: left;
}
.inputFormStyle{
    // background-color: aqua;
   
}
.inputFormOutline{
    // display: flex;
    // background-color: chartreuse;
    // min-width: 100%;
    // align-items: center;
    margin-left: 40%;
    margin-right: auto;
}
.inputFormPart1{
// background-color: beige;
// margin-left: 300px;
}
.inputFormPart2{
    // min-width: 250px;
// background-color: darkgreen;
// margin-right: 0 !important;
//      margin-left: auto !important;
}
.inputFormUpperSection{
     display: flex;
    //  min-width: 80% !important;
     
    //  margin-right: 0 !important;
    //  margin-left: auto !important;

}
.inputStyle{
    min-width: 300px!important;
}
.inputStyleButtonContainer{
    margin-left: 14%!important;
}
.inventoryIndexExterior{
    background-color: teal;
    display: flex;
}
.inventoryIndexNavPanel{
    background-color: aquamarine;
    max-width: 25%;
}
.inventoryIndexMain{
    background-color: bisque;
    margin-left: 40%;
    margin-right:auto;
}
.inventoryIndexLogoSection{
    margin-left: auto;
    margin-right:auto;
}