
// cover the whole viewport background
.index-main{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    // background-color: rgb(161, 163, 165);
    color: rgb(39, 38, 38);
    font-size: 18pt;
}

.index-main-header{
    background-color: rgb(64, 64, 77);
    font-size: 28pt;
    color:white
}